<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container" style="width: auto; padding: 0 20px;">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search">
            </form>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>
</div>