<div class="jumbotron">
    <h1>
        <span class="text-success">
            <span class="glyphicon glyphicon-star-empty"></span>
            Artists
            <span class="glyphicon glyphicon-star-empty"></span>
        </span>
    </h1>
    <p>
        <a class="btn btn-lg btn-success" href="#page/artist/add" role="button">
            Add a new artist
        </a>
        <a class="btn btn-lg btn-success" href="#page/group/add" role="button">
            Add a new group
        </a>
    </p>
</div>
<div data-js-artists>

</div>
