<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal">

            <div class="form-group">
                <label for="field-name" class="col-sm-2 control-label">Nombre</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="field-name"
                           placeholder="Nombre o título del evento...">
                </div>
            </div>

            <div class="form-group">
                <label for="field-short-description" class="col-sm-2 control-label">Descripción corta</label>

                <div class="col-sm-10">
                    <textarea rows="2" class="form-control" id="field-short-description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="field-description" class="col-sm-2 control-label">Descripción</label>

                <div class="col-sm-10">
                    <textarea rows="6" class="form-control" id="field-description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="field-start-time" class="col-sm-2 control-label">Inicio</label>

                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" id="field-name">
                </div>
            </div>

            <div class="form-group">
                <label for="field-start-time" class="col-sm-2 control-label">Fin</label>

                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" id="field-name">
                </div>
            </div>

            <div class="form-group">
                <label for="field-artists" class="col-sm-2 control-label">Artista/s</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="field-artists"
                           placeholder="Artistas involucrados">
                </div>
            </div>

            <div class="form-group">
                <label for="field-venue" class="col-sm-2 control-label">Lugar</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="field-venue"
                           placeholder="¿Dónde se realiza el evento?">
                </div>
            </div>

            <div class="form-group">
                <label for="field-tickets" class="col-sm-2 control-label">Entrada</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="field-tickets"
                           placeholder="Costo de las entradas">
                </div>
            </div>

            <div class="form-group">
                <label for="field-photo" class="col-sm-2 control-label">Imagen</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="field-photo" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label for="field-email" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="field-email"
                           placeholder="Email de contacto">
                </div>
            </div>

            <div class="form-group">
                <label for="field-urls" class="col-sm-2 control-label">Links</label>

                <div class="col-sm-10">
                    <input type="url" class="form-control" id="field-urls"
                           placeholder="Links relacionados">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
